# **## Data types**

1.  Numeric-: a) integer b) float c) Complex Number
2.  Sequence type:a)String b) List c) Tuple
3.  Dictionary
4.  Set

# Mutable and Immutable data types

----> Mutable object can change its state or contents

----> Immutable objects can not changes its state or contents.

# Mutable Data types:

1.   List
2.   Dictionary
3.   Byte Array

# Immutable Data types:

1.  Int,float,complex
2.  String,tuple,Set

In [ ]:
a=10 # Numeric data type
b=52.36 # Numeric data type
c=57+3j # Numeric data type
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

# String: A string is a collection of 1 or more characters put in '',"",''' '''
# Triple quote is used to get new line [multiple lines in the string]

In [ ]:
s='Hello Python, you are very awsome command language'
print(s, type(s))

Hello Python, you are very awsome command language <class 'str'>

In [ ]:
s1='''Python
this is best language to execute any code
I Like it very much'''
print(s1,type(s1))

Python
this is best language to execute any code
I Like it very much <class 'str'>

## List: List is an ordered sequence of items. It is one of the most prior data type in the python and it's very flexible.
# used by []
# List is mutable
e.g. L=[1,2,'mu','qr']

In [ ]:
L=[1,2,5,7,'pq','th','vn']

In [ ]:
print(type(L))

<class 'list'>

In [ ]:
L.insert(2,'PIKU') # List are mutable

In [ ]:
L

[1, 2, 'PIKU', 5, 7, 'pq', 'th', 'vn']

### **Tuple: Tuple is an ordered sequence of items same as list.

# it is defined within circular parantheses() where items are seperated by comma,

# It is immutable

# e.g. t=(1,2,5,'program')

# Basic difference between tuple and list is Tuple is more faster than List.

In [ ]:
t=(512,736,442,'program','TV','Bade ache lagte hai')

In [ ]:
print (t)
print (type(t))

(512, 736, 442, 'program', 'TV', 'Bade ache lagte hai')
<class 'tuple'>

In [ ]:
t.insert(4,'Sakshi Tanwar') # Tuples are immutable

AttributeError: ignored

## **Dictionary**: Dictionary is an unordered collection of key-value pairs.

# In python, dictionaries are defined within curly braces {} with each item being a pair in the form of Key:'value'

# d={1:'P',2:'q'}

# Key has always unique,we can store multiple same values

In [ ]:
d={1:'Name',2:'age',2:'age'}

In [ ]:
d# In dictionary,keys removes duplicate values

{1: 'Name', 2: 'age'}

In [ ]:
type(d)

dict

# Set: A set is an unordered collection of items.Every set element is unique(no duplicates)& must be immutable

In [ ]:
my_set={1,2,3}

In [ ]:
type(my_set)

set

In [ ]:
my_set.insert(0,'ppp') # set are immutable

AttributeError: ignored

In [ ]:
my_set={1,2,4,5,6,4,'pppp'}

In [ ]:
my_set # remove duplicate values

{1, 2, 4, 5, 6, 'pppp'}