# 1st Function used in python

a) Print--> Simply to used to print that text and values

b) It is function so always used with ()

c) string/character should be used in '' or ""

d) for more than 1 line in the string we use ''' '''

In [ ]:
print("Hello Python, the most popular language widely used in the world")

Hello Python, the most popular language widely used in the world

In [ ]:
print('''Hi Python
This is my 1st program so wish me good luck
this is quiet interesting coding''')

Hi Python
This is my 1st program so wish me good luck
this is quiet interesting coding

In [ ]:
print(10<20)

True

In [ ]:
print(5>50)

False

# **Variables in Python**

1.Variables are used to store the values in the python

2.Variable name should not start with numbers like 1a

3. Variable name should not consider special character at the start

4. Variable name should not update with space, we can store the variable name with underscore

5. Variable name are case sensistive hence 'a' and 'A' are different

6. Memory of variables are allocated as per the values not as per their variable name. a=10,b=10 hence same memory allocated to a and b variable

In [ ]:
a=10
b=10

In [ ]:
print(id(a),id(b))

94892135009056 94892135009056

In [ ]:
a=10
A=10

In [ ]:
print(a,A)

10 10

# String concinnate

Using '+' symbol we can add two strings or numbers.

Data type should be same on both sides

In [ ]:
str1="Welcome to world of coding"
str2='This is fabulous'

In [ ]:
print(str1+" " +str2)

Welcome to world of coding This is fabulous

In [ ]:
c=50

In [ ]:
print(c+20)

70

# Arithematic Operators

---> specially used to perform mathematical calculations

---> + to add values

---> - to subtract values

---> * to multiply values

---> / to divide the values

---> % to get reminder after dividing the number # also called as Modulus

---> ** to get power of that number # Expoential value

----> // floor division # to get whole number after dividing the number

In [ ]:
a=50 
b=10

In [ ]:
a+b # addition

60

In [ ]:
a-b # subtraction

40

In [ ]:
a*b # Multification

500

In [ ]:
a/b # Dividation

5.0

In [ ]:
a%b # Modulus to get reminder

0

In [ ]:
a**2 # Expoential value

2500

In [ ]:
b**3

1000

In [ ]:
a//b # floor division

5

# Assignment operator

In [ ]:
x=5 # Assign the value to X
print(x)

5

In [ ]:
x+=5 # it means x=x+5
print(x)

10

In [ ]:
x-=4 # it means x=x-4
print(x)

6

# Comparison Operator

1)== both values are equal

2)!= both values are not equal

3) > one value is greater than other

4) < one value is less than other

5) >= one value is greater or equal to other

6) <= one value is less than or equal to other

In [ ]:
x=50
y=45

In [ ]:
print(x==y) # Checking whether both values are equal or not

False

In [ ]:
print(x!=y) # checking whether both values are not equal

True

In [ ]:
print(x>y) # checking whether 1st variable is greater than other

True

In [ ]:
print(x<y)# checking whether 1st variable is less than other

False

In [ ]:
print(x>=y) # checking whether 1st variable is greater or equal to other

True

In [ ]:
print(x<=y) # checking whether 1st variable is less or equal to other

False

In [ ]:
print(y>x)

False

In [ ]:
print(y<=x)

True

# Logical Operators

a) And: both statements (conditions) should be meet then only it gives true result. e.g. if we want to derive 2nd class students from the result so condition should be marks should be less than 60 and greater than 45

b) Or: either condidtion should be meet (at least 1) among all conditions, it gives true result e.g. if we want to derive fail students from result so condition should be marks should be less than 35 in any subjects consider it as Fail.

c)Not: Reverse the result,returns false if the result is true

In [ ]:
x=10
y=20

In [ ]:
print(x==10 and x<y) # both conditions are meet hence it gives true result

True

In [ ]:
print(x==10 and x<y and x==y) # when there is one single condition not met then it gives false result

False

In [ ]:
print(x==10 or x<y or x==y) # at least one condition meet it gives true result

True

In [ ]:
print(not x!=10) # not is used to reverse your output

True

In [ ]:
print(not y<10)

True

In [ ]:
print(not y>40)

True

In [ ]:
print(not x<=5)

True

In [ ]:
print(not x>=2)

False

# Membership Operators in python

1.in: Returns true if a squenece with the specific value is present in the object e.g. x in y

2. Not in: when value is not present in the object e.g. X not in y

In [ ]:
string1='Hello Python, you are very user friendly'

In [ ]:
print('p' in string1)

False

In [ ]:
print('o' not in string1)

False

In [ ]:
print('z' not in string1)

True

## Identity Operators

1.is: returns true if both variables are same object (like comparison operator ==) e.g. x is y

2.is not: returns true if both variables are not equal( like not equal to !=)
e.g. x is not Y

In [ ]:
x=10
y=10

In [ ]:
print(x is y, x==y)

True True

In [ ]:
print(x is not y, x!=y)

False False

# Bitwise Operator

1: True

0: False

&:and:A&B when both binary values are true then it gives result as 'True'

|:or:A|B when one binary values are true then it gives result as 'True'

^:XOR:A^B when both binary values are true then it gives result as 'False'

In [ ]:
x=15
y=10

In [ ]:
print(bin(x),bin(y))

0b1111 0b1010

In [ ]:
print(x&y,bin(x&y)) # using And Operator

10 0b1010

In [ ]:
print(x|y,bin(x|y)) # using Or Operator

15 0b1111

In [ ]:
print(x^y,bin(x^y))

5 0b101